h1 {
  text-align: center;
  font-weight: 360;
  font-size: 45px;
  margin-top: 3px;
}
div{
  border-radius: 15px;
  margin: 0px auto;
  border: none;
}
.color-box {
  width: 500px;
  height: 250px;
  margin-top: 20px;
}
#colorPicker{
  background-color: #fff !important;
}
p{
  margin: auto 16px;
  margin-top: 50px;
}
