<h1 style="text-align: center;">{{title | uppercase}}</h1>
<h1 style="text-align: center;">{{title | lowercase}}</h1>
<h1 style="text-align: center;">{{Showdate}}</h1>
<h1 style="text-align: center;">{{Showdate | date:'dd-MM-yyyy'}}</h1>
<h1 style="text-align: center;">{{Showdate | date:'dd-MMM-yyyy'}}</h1>
<h1 style="text-align: center;">{{Showdate | date:'dd MMM yyyy'}}</h1>
<h1 style="text-align: center;">{{title | slice:0:7}}</h1>
<h1 style="text-align: center;">{{items | slice:0:2}}</h1>
<h1 style="text-align: center;">{{items | slice:-2}}</h1>

<!-- Build in pipes -->
 <div class="table-container">
    <table>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Salary</th>
        </tr>
        @for(emp of employees; track emp.name){
            <tr>
                <td>{{emp.name | titlecase}}</td>
                <td>{{emp.state | slice:0:3}}</td>
                <td>{{emp.salary | currency:'USD'}}</td>
            </tr>
            }
    </table>
 </div>