<h1>Component Creation Hook</h1>
<div>
    <h2>Parent Component</h2>
    <button (click)="sendDataToChild()">Generate Number</button>

    <app-test>
        <h3>{{displayfromParent}}</h3>
        <div #contentWrapper>
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Reiciendis nesciunt labore itaque 
            quibusdam eius nobis adipisci animi! Quia molestias sint
            adipisci vitae excepturi veritatis, voluptate dicta quis quos harum quasi.
        </div>
    </app-test>
</div>