h2{
    text-align: center;
    font-weight: 360;
    color: goldenrod;
    font-size: 45px;
    margin-top: 3px;
}
div{
    margin: 0 auto;
    border: 1px solid;
    width: 600px;
    height: 200px;
}
p{
    font-size: 30px;
    text-align: center;
}
