<!-- Using Function calling on button click -->
<button (click)="togglelist()">Show Employees 1</button> 

<!-- Using Inline Condition on button click -->
<button (click)="displayElement = !displayElement">Show Employees 2</button>
@if(displayElement){

    <div *ngFor="let value of employees">
        <li>{{value.id}}</li>
        <li>{{value.name}}</li>
        <li>{{value.role}}</li>
        <br><br>
    </div>
} @else {
    <h1>No Data Found</h1>   
}

<!-- Using Inline Condition on button click -->
 <!-- Angular 17 -->

 <div>
    <h1>List of Employees</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @for (item of employees; track item.id) {
                <tr>

                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.role}}</td>
                </tr>
            } @empty { 
                <h1>No Data Found !</h1>
            }
        </tbody>
    </table>
 </div>